.search-form {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  background-color: #e8f4fb;
}

.form-inline .form-group {
  display: block;

  input {
    width: 77%;
    margin-right: 3%;
  }

  button {
    width: 20%;
  }
}
