.search-result-item {
  position: relative;

  .item-content {
    margin-left: 55px;

    .username {
      font-weight: 700;
    }

    .created-date {
      font-size: 0.85rem;
    }
  }
}

.profile-image {
  composes: rounded from global;

  position: absolute;
  top: 0;
  left: 0;
}
