body {
  background-color: #f5f8fa;
}

header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  color: #fff;
  background: #007bff;
  text-align: center;

  h1 {
    color: #fff;
  }
}

.container-fluid {
  composes: container-fluid from global;
  max-width: 640px;
}

/*
%test-base {
  font-size: 2rem;
}

.test-blue {
  @extend %test-base;
  color: blue;
}

.test-red {
  @extend %test-base;
  color: red;
}
*/
