{
  "env": {
    "server": {
      "plugins": [
        ["css-modules-transform", {
          "camelCase": true,
          "extensions": [".scss"],
          "generateScopedName": "[local]-[hash:base64:5]",
          "preprocessCss": "./loaders/sass-loader.js"
        }]
      ],
      "ignore": [
        "*.test.js"
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 0.25%", "not ie 11", "not op_mini all"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
